@charset "utf-8";
/* CSS Document */
ul#menu-country{
	list-style:none;
}
ul#menu-country li.menu-visa a:link,
ul#menu-country li.menu-visa a:visited{
	display: block;
	height: 35px;
	width: 220px;
	margin-bottom:4px;
}

a#aus-visa {
	background:url('images/countries.png') left top;
	height:44px !important;
}
a:hover#aus-visa {
	background:url('images/countries.png') 220px top;	
}

a#nz-visa {
	background:url('images/countries.png') left -44px;	
}
a:hover#nz-visa {
	background:url('images/countries.png') 220px -44px;	
}

a#can-visa {
	background:url('images/countries.png') left -79px;	
}
a:hover#can-visa {
	background:url('images/countries.png') 220px -79px;	
}

a#kor-visa {
	background:url('images/countries.png') left -114px;	
}
a:hover#kor-visa {
	background:url('images/countries.png') 220px -114px;	
}

a#fra-visa {
	background:url('images/countries.png') left -149px;	
}
a:hover#fra-visa {
	background:url('images/countries.png') 220px -149px;	
}

a#deu-visa {
	background:url('images/countries.png') left -184px;	
}
a:hover#deu-visa {
	background:url('images/countries.png') 220px -184px;	
}

a#uk-visa {
	background:url('images/countries.png') left -219px;	
}
a:hover#uk-visa {
	background:url('images/countries.png') 220px -219px;	
}

a#ire-visa {
	background:url('images/countries.png') left -254px;	
}
a:hover#ire-visa {
	background:url('images/countries.png') 220px -254px;	
}

a#dnk-visa {
	background:url('images/countries.png') left -289px;	
}
a:hover#dnk-visa {
	background:url('images/countries.png') 220px -289px;	
}

a#ywn-visa {
	background:url('images/countries.png') left -324px;	
}
a:hover#ywn-visa {
	background:url('images/countries.png') 220px -324px;	
}

a#hkg-visa {
	background:url('images/countries.png') left -359px;	
}
a:hover#hkg-visa {
	background:url('images/countries.png') 220px -359px;	
}
a#nor-visa {
	background:url('images/countries.png') left -394px;	
}
a:hover#nor-visa {
	background:url('images/countries.png') 220px -394px;	
}

a#por-visa {
	background:url('images/countries.png') left -464px;	
}
a:hover#por-visa {
	background:url('images/countries.png') 220px -464px;	
}

a#pol-visa {
	background:url('images/countries.png') left -429px;	
}
a:hover#pol-visa {
	background:url('images/countries.png') 220px -429px;	
}

