/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014/09/19, 15:36:08
    Author     : k-kawai
*/
@charset "utf-8";
/*************************************************************/
/*------------------- CALENDAR DISPLAY ----------------------*/
/*************************************************************/
#place-date-seminar {
	position:relative;
	margin-top:10px;
	margin-bottom:10px;
	padding: 10px 0 10px 10px;;
	font-size:30px;
	color:orange;		
}

#seminar-calendar {
	width: 100%;
	margin-top:5px;
	margin-right:5px;
}

#seminar-calendar tr.empty_cell td {
	height:10px;
}

#seminar-calendar th {
	padding: 5px 10px;
	background-color:orange;
	color:white;
	font-size:20px;
	font-weight:bolder;
}

#seminar-calendar .data_table td {
	border:1px solid #CCC;
	padding: 5px 5px;
	background-color:white;
	font-size:12px;
	font-weight: bold;
	vertical-align:top;
	height:130px;
	width:14%;
}

#seminar-calendar .data_table td span.date_number {
	font-size:18px;
	color:#CCC;
}

#seminar-calendar .data_table td span.date_saturday {
	font-size:18px;
	color:#00008B;
}

#seminar-calendar .data_table td span.date_sunday {
	font-size:18px;
	color:#FF0000;
}

#seminar-calendar .data_table td.following_month span.date_number,
#seminar-calendar .data_table td.actual_month-following_month span.date_number{
	padding-top:7px;
	padding-bottom:2px;
	font-size:11px;
	color:#CCC;
	display:inline-block;
/*	height:27px;*/
}

#seminar-calendar .data_table td.following_month span.date_saturday,
#seminar-calendar .data_table td.actual_month-following_month span.date_saturday {
	padding-top:7px;
	padding-bottom:2px;
	font-size:11px;
	color:#00008B;
	display:inline-block;
	/*height:27px;*/
}

#seminar-calendar .data_table td.following_month span.date_sunday,
#seminar-calendar .data_table td.actual_month-following_month span.date_sunday {
	padding-top:7px;
	padding-bottom:2px;
	font-size:11px;
	color:#FF0000;
	display:inline-block;
	/*height:27px;*/
}


/*** selected day from module ***/
/*------------------------------*/
#seminar-calendar .data_table td span.chosen_day {
	font-size:18px;
	color:#FF8000;
}

#seminar-calendar .data_table td span.chosen_day-following_month {
	font-size:11px;
	color:#FF8000;
	display:inline-block;
	height:27px;
}

#seminar-calendar td#selected_day {
	background-color:#FFA;
	border:2px dashed #FFDFAA;
}
/*******************************/
#seminar-calendar td.following_month {
	background-color:#FFF4EA;
}

#seminar-calendar td.not_actual_month {
	background-color: #F5F5F5;
}

#month_navigation span a{
	font-size:14px;
	color:#555555;
}

div#month_navigation {
	width:100%;
	text-align:center;
}

#month_navigation span {
	display:inline-block;
}

#month_navigation span#previous_month {
	float:left;
}

#month_navigation span#next_month {
	float:right;
}

span.broadcast, div.no_broadcast { /*<div>*/
	height:16px;
	width:16px;
	float:right;
	margin-top:6px;
}
.tooltip_broadcast, .icon_info_broadcast, span.broadcast { /*<div>*/
	background:url(images/camera.png) no-repeat center;
}

div.option_osusume, div.option_full  {
	position:relative;
	height:16px;
	width:16px;
	float:left;
}
.tooltip_option_osusume, .icon_info_osusume, div.option_osusume {
	background:url(images/hoshi.png) right no-repeat;
}

.tooltip_option_full, .icon_info_full, div.option_full {
	background:url(images/full.png) right no-repeat;
}

div.option_shinchyaku {
	position:relative;
	height:16px;
	width:25px;
	float:left;
}
.tooltip_option_shinchyaku, .icon_info_shinchyaku, div.option_shinchyaku {
	background:url(images/new.png) right no-repeat;
}

div.description_seminar {
	position:relative;
	font-size:10px;
	text-align:center;
}

div.name_seminar {
	position:relative;
	cursor: pointer;
	padding:1px;
	margin:0px 0px 5px 0px;
	text-align:center;

	border-bottom:1px solid #cccccc;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

div.fullybooked.name_seminar {
	border: 1px dashed red;
	background-color: white;
	font-weight:bold;
	color:red;	
}
div.fullybooked.description_seminar {
	color:black;
	font-weight:bold;
	height:16px;
}

div._shinchyaku.description_seminar,
div._osusume.description_seminar{
	height:16px;
}


/*------- flags  display --------*/
/*-------------------------------*/

span.list_flag { /*<div>*/
	position:relative;
	display:inline-block;
	margin-left:5px;
}
span.list_flag span { /*<div>*/
	vertical-align: top;
}

span.list_flag span, .flag_information { /*<div>*/
	position:relative;
	display:inline-block;
	width:16px;
	height:16px;
	margin-right:2px;
}
.flag_us, .tooltip_flag_us {
	background:url(images/us.png) no-repeat center;
}
.flag_au, .tooltip_flag_au {
	background:url(images/au.png) no-repeat center;
}
.flag_nz, .tooltip_flag_nz {
	background:url(images/nz.png) no-repeat center;
}
.flag_uk, .tooltip_flag_uk {
	background:url(images/uk.png) no-repeat center;
}
.flag_fr, .tooltip_flag_fr {
	background:url(images/fr.png) no-repeat center;
}
.flag_dk, .tooltip_flag_dk {
	background:url(images/dk.png) no-repeat center;
}
.flag_de, .tooltip_flag_de {
	background:url(images/de.png) no-repeat center;
}
.flag_ca, .tooltip_flag_ca {
	background:url(images/ca.png) no-repeat center;
}
.flag_eu, .tooltip_flag_eu {
	background:url(images/eu.png) no-repeat center;
}
.flag_wd, .tooltip_flag_wd, span.list_flag span.flag_wd {
	background:url(images/wd.png) no-repeat center;
	width : 32px;
	height : 21px;
	margin-top : -2px;
}

div#tooltip span {
	position:relative;
	display:inline-block;
	width:32px;
	height:32px;
}

/*  listing of the day while clicking on an event   */
/*---------------------------------------------------*/

div.day_information{
	font-size:13px;
        display:none;
	text-align:left;
	width:780px;
}

#date_information {
	padding:2px;
	margin:10px;
	background-color:#FFA500;
	color:white;
	font-weight:bold;
	text-align:center;
}
/*
.left_part_detail {
	position:relative;
	border:1px solid blue;
	display:inline-block;
	width:auto;	
	
}*/

.c_img{
	color:red;
	font-size:11pt;
	font-weight:bold;
	display:inline-block;
	margin-left:40px;
}
.c_btn{
	width:115px;
	text-align:right;
	display:inline-block;
}

.btn_close_info {
	text-align:left;
	padding-left:10px;
	padding-top: 10px;
}

.open {
	display:block;
	font-size:9pt;
	font-weight:bold;
	color : orange;
	cursor:pointer;
	//margin-left:158px;
        margin-left:auto;
        text-align: center;

}

.open_only  {
	display:inline-block;
	font-size:9pt;
	font-weight:bold;
	color : orange;
	cursor:pointer;
	margin-left:40px;
}

.det {
	text-align:left;
	//margin:5px 0 10px 50px;
	padding: 5px 0 13px 12px;
	border-left:2px dotted;
	display:none;
	width:600px;
}
/*
#booking_display {
	margin-left:250px;
	display:inline-block;
	border:1px solid brown;
}
#booking_nodisplay {
	margin-left:150px;
	display:inline-block;
}*/

.square_color {
	width:5px;
	height:auto;
	display:inline-block;
	
}
div.title_line {
	text-align:left;
	display:inline-block;
	margin-left:20px;
}
table.table_list {
	margin-left:14px; 
	width:750px;
}
.title_line span {
	display:inline-block;
	margin-left:5px;
	vertical-align:middle;
}

span.title_style {
	width:auto;
	max-width:560px;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.icon_info_broadcast, .icon_info_osusume , .icon_info_full  {
	height:16px;
	width:16px;
}
.icon_info_shinchyaku {
	height:20px;
	width:25px;
}
.new-element{
	position: absolute;
	float: left;
	top:-8px;
	right:-8px;
	padding: 0;
	background: url(images/new-rounded.png) no-repeat left top;
	height: 24px;
	width: 24px;
	text-indent: -99999px;
}

/****************************** USED TO BE ON HTML PAGE **************************/

.button_yoyaku	{
	background-color: navy;
	color: white;
	cursor: pointer;
	padding: 0 5px 0 5px;
	margin: auto !important;
	font-weight: bold;
        text-align: center;
}
.button_submit	{
	background: url(../images/button_submit.png) no-repeat 0 0;
	padding-left: 16px;
	cursor: pointer;
}

.button_cancel	{
	background: url(../images/button_cancel.png) no-repeat 0 0;
	padding-left: 16px;
	cursor: pointer;
}

.button_next	{
	background: url(../images/button_next.png) no-repeat 0 0;
	padding-left: 16px;
	cursor: pointer;
}

.shibori	{
	font-size: 10pt;
}


#feedbox {
	background-color: lightgreen;
	border-top: 1px solid #333;
	text-align: center;
	padding: 16px 0;
	font-size:11pt;
}

#feedbox form {
  margin: 8px 0;
}

#feedshow	{
	cursor : pointer;
}
.seminar_title{
    font-weight: bold;
    text-align: center;
    vertical-align: middle !important;
}
.seminar_status{
    font-weight: bold;
    text-align: center;
    vertical-align: middle !important;
}
.seminar_date{
    margin: 10px 0px !important;
}
.seminar_table{
    margin: 0px !important;
    width: 100% !important;
}
.seminar_timeandplace{
    
}
.seminar_button{
    
}