@charset "utf-8";
/* CSS Document */
/* page start (02-02-2016)*/
.dropdown-step{
	background: #eefdbf;
    border-radius: 15px;
    border: 0;
    padding: 5px;
    cursor: pointer;
    margin: 10px 0;
    padding-left: 30px;
    font-size: 13px;
	border:6px solid #9bab59;
}

.dropdown-step img{
	float: right;
	margin-right: 7px;
	margin-top: 5px;
    width: 16px;
}
.dropdown-step a{
	text-decoration: none;
}
.dropdown-step li{
	display: none;
}
.step00box02 {
	clear: both;
    margin-top: 10px;
	border-bottom: 2px dotted #000080;
    padding: 5px;
	color:#ff0d0d;
}
#topic-path #text-home {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 9px;
}
.image-dropdown{
	float: right;
	margin-top: 10px;
	margin-right: 15px;
}
.clear-box-s{
	clear: both;
}
.step00lists{
	margin-left: 10px;
    margin-top: 14px;
}
.steps1 {
    font-size: 13pt;
    text-decoration: none;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
a.steps1{
	color: red;
}
.golink-drop{
	float: right;
	margin: 7px 12px;
}
.go-link-button{
	padding: 5px;
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	background: rgba(253,152,0,1);
	background: -moz-linear-gradient(top, rgba(253,152,0,1) 0%, rgba(222,141,60,1) 51%, rgba(206,103,1,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253,152,0,1)), color-stop(51%, rgba(222,141,60,1)), color-stop(100%, rgba(206,103,1,1)));
	background: -webkit-linear-gradient(top, rgba(253,152,0,1) 0%, rgba(222,141,60,1) 51%, rgba(206,103,1,1) 100%);
	background: -o-linear-gradient(top, rgba(253,152,0,1) 0%, rgba(222,141,60,1) 51%, rgba(206,103,1,1) 100%);
	background: -ms-linear-gradient(top, rgba(253,152,0,1) 0%, rgba(222,141,60,1) 51%, rgba(206,103,1,1) 100%);
	background: linear-gradient(to bottom, rgba(253,152,0,1) 0%, rgba(222,141,60,1) 51%, rgba(206,103,1,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd9800', endColorstr='#ce6701', GradientType=0 );
}
a.steps{
	border: 0;
}
.active{
	display: block;
}
.hide{
	display: none;
}
.polygon{
	display:none;
    margin-top: -2px;
    margin-left: 15px;
}
.clearboth{
	margin-top: 10px;
    text-align: center;
    border: 6px solid #9bab59;
    padding: 5px;
    border-radius: 15px;
}
.clearboth a{
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
}
.area-accordion, .step_title,.tableofcontents{
	padding-left:5px;
	padding-right:5px;
	word-wrap: break-word;
}
.img-calendar-display img {
    display: none;
}
#step00box {
	margin-left: 0.5em;
	clear: both;
}
.step00list {
	margin-left: 10px;
	margin-top: 14px;
}

.step_tit{
	font-size: 10px;
}

#step00box  ul {
	display: block;
}
#step00box  li {
	font-size: 12px;
	margin-bottom: 10px;
}
.step00box01 {
	clear: both;
	margin-bottom: 12px;
}

#contentsbox a.steps{
	font-size: 13pt;
	line-height:40px;
	text-decoration: none;
	border-bottom: 2px dotted navy;
	padding-bottom: 5px;
	margin-bottom: 10px;
	color:red;
}

.step_title	{
	color: orangered;
	font-size: 16pt;
	font-weight: bold;
}
.step_box	{
	text-align: center;
}
.step_box1	{
	margin: 0px auto;
	text-align: left;
	width:100%;
}
.step_div	{
	float: left;
	width: 90px;
	margin-right: 1px;
	text-align: center;
	color: orangered;
	font-size: 9pt;
}

a.step_menu	{
	color: black;
	text-decoration: none;
	background-color: white;
	padding:9px 0px;
	width: 89px;
	display: block
}
a:hover.step_menu {
	background-color: orange;
	font-weight: bold;
}
a:active.step_menu	{
	background-color: orange;
	font-weight: bold;
	color:white;
}
#contentsbox a:hover.step_menu{
	color:white;
}

#maincontent .tableofcontents {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #CCCCCC;
    border-bottom-color: #CCCCCC;
    width: 98%;
    font-size: 12px;
}
#maincontent .tableofcontents th {
	background-color: #FFFF99;
	font-weight: normal;
	width: 25%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
#maincontent .tableofcontents td {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
#maincontent .tableofcontents li {
	margin-bottom: 10px;
}

table#step3 {
	font-size:8pt;
	width:100%;
	margin-right:0.5em
}
table#step3 th {
	width:20%
}
table#step3 th.earnedmoney-title {
	width:40%
}
table#step3 td {
	text-align:center;
}

table#step3 td.earnedmoney {
	text-align:left;
	padding: 0.2em;
}
/*=========Add link step3 27-05-2016===========*/
.step3_link_orange{
	display: block;
	border-radius: 5px;
	width: 100%;
	margin: 0px auto;.area-accordion, .step_title,.tableofcontents{
	padding-left:5px;
	padding-right:5px;
	word-wrap: break-word;
}
.img-calendar-display img {
    display: none;
}
	background: #f39800 url(../images/step3_arrow.png) no-repeat 93% center;
	background-size: 15px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 10px;
    font-size: 10pt;
    font-weight:bold;
    padding: 8px 0px;
    margin-top: 20px;
    margin-bottom: -10px;
    color: #fff !important;
    text-decoration: none;
    text-align: center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
    overflow: hidden;
}
.step3_link_orange:before{
	content: "";
  	position: absolute;
  	z-index: -1;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background: rgba(245,200,120,0.6) url(../images/step3_arrow.png) no-repeat 93% center;
  	height: 100%;
  	-webkit-transform: translateY(100%);
  	transform: translateY(100%);
  	-webkit-transition-property: transform;
  	transition-property: transform;
  	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	-webkit-transition-timing-function: ease-out;
  	transition-timing-function: ease-out;
}
.step3_link_orange:hover:before, 
.step3_link_orange:focus:before, 
.step3_link_orange:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
a.area-accordion{
	text-decoration: none;
}

/*step 8*/
.pchidden{
	display: none;
}
.disNone{
	display: block;
}
.mobilehidden h4{
	background: #ef8943  !important;
	font-size: 14px;
	font-weight: 700;
	color: #fff!important;
	padding: 5px 0px 5px 0px !important;
}
table.newtable1a {
	font-size:11px;
	margin: 0px 5px 4px 5px;
}
.newtitle{
	display: block;
	text-align: center;
	background: #3b6fbb;
	color: #fff;
	height: 22px;
	margin: 0px 1px;
	font-size: 12px;
	font-weight: 700;
	margin: 3px 5px 0px 5px;
	padding:5px 0px 0px 20px ;
}
table.newtable1a tr.newtable1a th {
	padding:4px;
}
table.newtable1a tr th, table.newtable1a tr td {
	text-align:left;
	padding:6px;
	border: 1px solid #719bd0 !important;
}
table.newtable1a tr td {

}
table.newtable1a tr td a{
	color: #3b6fbb;
	font-weight: 600;
}
table.newtable1a tr td li{
	list-style: square;
	margin-top: 0px;
}
table.newtable1a tr th {
	background-color:#cae1ff;
	border: 1px solid #719bd0 !important;
	width: 30%;
	color: #000;
	font-weight: 600;
}
.text-answer{
	margin-bottom: 1em;
	font-size: 11px;
	background: url(../images/qa-Aicon.png)no-repeat left 5px;
    padding-left: 30px;
    background-size: 25px;
    margin-left: 0px;
}
.stepPage .text01{
	margin-bottom: 1em;
	font-size: 11px;
}
.event{
	width: 98% !important;
	margin-bottom: 5px !important;
}
/*add style 07032016*/
.mobile-maincontent .tableofcontents {
    border: solid 1px #ccc!important;
    margin-bottom: 15px;
}
@media only screen and (min-width:769px) and (max-width:970px){
	table.newtable1a {
		width: 99%;
	}
}
@media only screen and (min-width:971px) {
	table.newtable1a {
 	width: 99.2%;
}
}
@media only screen and (min-width:1300px) {
	table.newtable1a {
 	width: 99.3%;
}
}
/* end step 8*/

/* hiyou -----------------*/

.hiyou-off-work{
	background: url("/images/index/bg.jpg") repeat;
	margin-bottom: 15px;
    width: 99%;
    height: 130%;  
    float: center;
    margin-top: 20px;
}

.hiyou-off-work .hiyou-title-offday, .hiyou-content-offday{
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
}
.hiyou-off-work .hiyou-title-offday img{
	padding-right: 10px;
}

.hiyou-title-offday {
	padding-top: 20px;
}

.hiyou-off-work .hiyou-title-offday p{
	color: #969303;
	font-size: 16px;
	font-weight: 600;
}
.hiyou-off-work .hiyou-title-offday span{
	color: #141823;
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;

}

.sec01{
	padding-top: 8px;
	cursor: pointer;
	text-decoration: none;
}
.sec01 .title-sec01{
	background-color: #24606f;
	height: 33px;
	color: #fff;
	-webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
	padding-left: 15px;
	line-height: 30px;
    
}

.sec01 .title-sec01 p{
	float: left;
	font-size: 12px;
	line-height: 30px;
	padding-right: 5px;
}
.sec01 .title-sec01 span{
	font-size: 14px;
    text-decoration: none;
}
.sec01 .title-sec01 img{
	float: right !important;
    padding-top: 10px;
    padding-right: 15px;
}
.sec01 .hiyou-content-sec01{
	background-color: #fff;
	height: 45px;
	padding: 5px 15px 0px 15px;
	margin-bottom: 10px;
}
.sec01 .hiyou-content-sec01 p{
	font-size: 10px;
    color: #000;
    font-weight: 600;
}

.sec01 .sec01_01{
	background-color: #fff;
	height: 60px !important;
	padding: 5px 15px 0px 15px;
	margin-bottom: 10px;
}
/* end hiyou -----------------*/
